* {
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

body {
    color: #d3d3d3;
    font: 12pt arial;
    background-color: whitesmoke;
}

#query-area{
    width: 100%;
    height: 20vh;
}

#mynetwork {
    width: 100%;
    height: 80vh;
    background-color: whitesmoke;
}
  
textarea {
    resize: none;
    height: 100%;
    width: 100%;
 }

 input{
     border-width: 1px;
     border-radius: 3px;
     width: 55%;
 }

 .inline{
    display: inline-block;
 }

 .btn{
     border: none;
    color: whitesmoke;
    background-color: cornflowerblue;
    padding: 5px 5px;
    margin: 5px 5px;
    border-radius: 2px;
    cursor: pointer;
}

.btn-primary{
    background-color: #2eb0a9;
}

.label{
    width: 40%;
    padding: 1%;
}